<%= render 'header'%><br><br><br><br>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
<h1>編集画面</h1>
<%= form_for(@facebook) do |f| %>
  <% if @facebook.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @facebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.label :content_image %>
  <%= f.file_field :content_image %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to "トップへもどる", root_path %>

<div>
</div>
