
<!-- 参考ページhttp://algo13.net/bootstrap/affix.html-->
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    (function(window, $) {
      'use strict';
      $(function() {
        var m = $('#main');
        // スクロール位置と連動させない場合は不要(scrollspy用)
        $(document.body).scrollspy({ target: '.algo13-sidebar' });
        // スクロール位置と連動させない場合は不要(scrollspy用)
        $(window).on('load', function() { $(document.body).scrollspy('refresh') });
        // 固定サイドバーのスクロール追従開始＆終了位置の設定(affix用)
        setTimeout(function() {
          $('.algo13-sidebar').affix({
            offset: {
              top: function() {
                return (this.top = m.offset().top);
              }
            }
          })
        }, 100);
      });
    })(window, jQuery);
    </script>
  </head>
  <body>
    <%= render 'header' %><br><br><br>
    <% if user_signed_in? %>
        <div class = "row">
          <div class="col-xs-2" style="background:#CCC;">
            <center>
            <p><%= link_to profile_img(@current_user), edit_user_registration_path %><%= @current_user.name%></p>
            <p><%= link_to 'ニュースフィールド'%><p>
            <p><%= link_to 'Messanger'%><p>
            <h5>発見</h5>
            <p><%= link_to 'イベント'%><p>
            <p><%= link_to 'Facebookページ'%><p>
            <p><%= link_to 'グループ'%><p>
            <p><%= link_to '友達リスト'%><p>
            <p><%= link_to 'インサイト'%><p>
            <p><%= link_to 'ゲーム'%><p>
            <p><%= link_to 'ライブ動画'%><p>
            <p><%= link_to '過去のこの日'%><p>
            <p><%= link_to 'Poke'%><p>
            <p><%= link_to 'ゲームフィールド'%><p>
            <p><%= link_to 'もっと見る...'%><p>
            <h5>作成</h5>
            <p>
              <%= link_to '広告'%>
              <%= link_to 'ページ'%>
              <%= link_to 'グループ'%>
              <%= link_to 'イベント'%>
            <p>
            </center>
          </div>
          <div class="col-xs-6" style="background:#CCC;">
            <div class="panel panel-default">
							<p id="notice"><%= notice %></p>
							<div class="panel-heading">
								<p>ステータス<p></div>
									<%= form_for(@facebook) do |f| %>
									<div class="panel-body"><br>
										<%= f.text_area :title, :size=>"40x1", placeholder: "タイトルを入力してください" %><br>
										<%= f.text_area :content, :size=>"60x5", placeholder: "今なにしてる？" %>
										<% if flash[:error].present? %>
										<ul class="errors">
											<% flash[:error].each do |msg| %>
											<li><%= msg %></li>
											<% end %>
										</ul>
										<% end %>
									</div>
									<div class="panel-footer">
										<%= f.file_field :content_image %>
										<%= f.submit "投稿する"%>
									</div>
									<% end %>
								</div>
                <div id="main"></div>
                <% @facebooks.each do |facebook| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<%= link_to profile_img(facebook.user) %>
										<%= facebook.user.name%>さんが投稿しました。 最終更新日：<%= facebook.updated_at %>
									</div>
									<!--  panel-headingに対する閉じタグ-->
									<div class="panel-body">
										<h4>タイトル：
											<%= link_to facebook_path(facebook) do %>
                      <!--<%#= link_to facebook_comments_path(facebook) do %>-->
											<%= facebook.title %>
											<% end %>
										</h4><br>
										<p>コメント：
											<%= facebook.content %>
										</p><br>
										<% unless facebook.content_image.blank?%>
										<%= image_tag(facebook.content_image, alt: '投稿写真',:size => "600x600") %>
										<% end %>
									</div>
									<!-- panel-bodyに対する閉じタグ -->
									<div class="panel-footer">
										<%= form_tag({controller: "facebook", action: "iine"}, {data: {remote: true}}) do %>
										<%= submit_tag("いいね", name: nil) %>
										<% end %>
										<br>
										<%= link_to "編集", edit_facebook_path(facebook.id), class: 'btn btn-default btn-sm btn-success' %>
										<%= link_to "削除", facebook_path(facebook.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
									</div>
								</div>
								<% end %>
          </div>
          <div class="col-xs-4" style="background:#CCC;">
              <nav class="algo13-sidebar hidden-print"><!-- hidden-xs -->
                <ul class="nav">
                  <li>
                    <h5>今日はFecebookさんの誕生日です。</h5>
                  </li>
                  <p>友達リクエスト</p>
  								<% @user.first(6).each do |user| %>
  								<%= link_to profile_img(user) %>
  								<%= user.name %><br>
  								<button class="btn btn-default button" type="submit">
  									<font size="1">友達リクエストを承認</font>
  								</button><br>
  								<% end %><br>
                </ul>
              </nav>
        </div>
    <% end %>
  </body>
</htmL>
